* {
    box-sizing: border-box;
}

body {
    padding-top: 4rem;
    margin: 0px;
    color: var(--color-black-3);
    background-color: var(--bg-color);
    font-family: var(--type-first);
    transition: all 0.5s;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh + 10rem);
}
main {
    flex: 1;
}
h1,
h2,
h3,
h4,
p {
    margin: 0;
}
ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}
[data-theme='dark'] img {
    filter: brightness(0.85) contrast(1.1);
    transition: filter 0.3s ease;
}

button,
input {
    display: block;
    font-size: 1rem;
    font-family: var(--type-first);
    color: var(--color-black-3);
}
a {
    text-decoration: none;
    color: var(--color-black-3);
}

.wrapper {
    max-width: 50rem;
    padding: 0 1rem;
    margin: 0 auto;
}
.main_wrapper {
    margin-top: 2rem;
}
.title {
    font-family: var(--type-second);
    line-height: 1;
    font-size: 3rem;
    margin: 1rem 0;
    position: relative;
    z-index: 1;
    color: var(--title);
}
.title::after {
    content: '';
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background: var(--color-yellow);
    border-radius: 0.2rem;
    position: absolute;
    bottom: 5px;
    left: -5px;
    z-index: -1;
}
.animeLeft {
    opacity: 0;
    transform: translateX(-20px);
    animation: animeLeft 0.3s forwards;
}
@keyframes animeLeft {
    to {
        opacity: 1;
        transform: initial;
    }
}
